In [2]:
# This is a comment line
# ipynb stands for Interactive Python Note Book
# pip stands for Preferred Installer Program
# Ctrl+/ will make a block of code commented or uncommented

In [5]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), id(num1))
print (num2, type(num2), id(num2))
total = num1 + num2
print("Total =", total)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  200

100 <class 'str'> 2178279568688
200 <class 'str'> 2178279568880
Total = 100200
End of the program...

In [6]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), id(num1))
print (num2, type(num2), id(num2))
total = num1 + num2
print("Total =", total)
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  200

100 <class 'int'> 140728369820560
200 <class 'int'> 140728369823760
Total = 300
End of the program...

In [19]:
print ("So", num1, "+", num2, "=", total)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(total))
print ("So {} + {} = {}".format(num1, num2, total))   # {} is called variable place holder
print ("So {0} + {1} = {2}".format(num1, num2, total))   # is called indexed place holder
print ("So {2} + {1} = {0}".format(total, num2, num1))   # is called indexed place holder
print ("So {fn} + {sn} = {tot}".format(fn = num1, sn = num2, tot = total))   # is called labeled place holder
print ("So {fn} + {sn} = {tot}".format(sn = num2, fn = num1, tot = total))   # is called labeled place holder
print ("So %d + %d = %d"%(num1, num2, total))    # %d means decimal data type
print ("So %d + %f = %d"%(num1, num2, total))    # %f means float data type
print ("So %d + %10.6f = %d"%(num1, num2, total))    # %f means float data type
print ("So %d + %8.2f = %d"%(num1, num2, total))    # %f means float data type
print (f"So {num1} + {num2} = {total}")    # f stands for smart formatting, available from Python 3.7 version onwards

So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200 = 300
So 100 + 200.000000 = 300
So 100 + 200.000000 = 300
So 100 +   200.00 = 300
So 100 + 200 = 300

In [1]:
var1 = 100; print (var1, type(var1), id(var1))
var1 = 100.5; print (var1, type(var1), id(var1))
var1 = "Punch"; print (var1, type(var1), id(var1))
var1 = "P"; print (var1, type(var1), id(var1))
var1 = 'Punch'; print (var1, type(var1), id(var1))
var1 = 'P'; print (var1, type(var1), id(var1))
var1 = True; print (var1, type(var1), id(var1))
var1 = False; print (var1, type(var1), id(var1))

100 <class 'int'> 140727945868176
100.5 <class 'float'> 1473641802576
Punch <class 'str'> 1473642539952
P <class 'str'> 1473568587888
Punch <class 'str'> 1473642539952
P <class 'str'> 1473568587888
True <class 'bool'> 140727945582416
False <class 'bool'> 140727945582448

In [3]:
var1 = 100; print (var1, type(var1), id(var1))
var2 = 100; print (var2, type(var2), id(var2))
var3 = var1; print (var3, type(var3), id(var3))

100 <class 'int'> 140727945868176
100 <class 'int'> 140727945868176
100 <class 'int'> 140727945868176

In [4]:
var1 = 500; print (var1, type(var1), id(var1))
var2 = 500; print (var2, type(var2), id(var2))
var3 = var1; print (var3, type(var3), id(var3))

500 <class 'int'> 1473642426736
500 <class 'int'> 1473642426608
500 <class 'int'> 1473642426736

In [10]:
# If values assigned to the variables ranging from -5 to 256, will have same id for variables
var1 = -6; print (var1, type(var1), id(var1))
var2 = -6; print (var2, type(var2), id(var2))
var3 = var1; print (var3, type(var3), id(var3))

-6 <class 'int'> 1473642427632
-6 <class 'int'> 1473642428240
-6 <class 'int'> 1473642427632

In [12]:
# Arithmetic Operators: + - * / // ** %
# Conditional Operators: > >= < <= != ==
# Logical Operators: and or not
# Assignment Operator: =
# Special Assignment Operators: += -= *= /= //= **= %=
# Operators: Unary, Binary, Ternary
# Unary Operators (Require only one operand): +100 -300
# Binary Operators (Require only two operands): 700 + 100 900 - 300
# Ternary Operator (Requires only three operands)

# Artithmetic Operators
print (-100)
print (100 + 40)
print (100 - 40)
print (100 * 40)
print (100 / 40)
print (100 // 40)
print (100 % 40)
print (100 ** 4)

-100
140
60
4000
2.5
2
20
100000000

In [15]:
# Ternary Operator (Requires only three operands)
num1 = 100;
result = "Even" if (num1 % 2 == 0) else "Odd"
print (result)

num1 = 101;
result = "Even" if (num1 % 2 == 0) else "Odd"
print (result)

import numpy as np
num = 101
print (np.where(num % 2 == 0, "Even", "Odd"))

Even
Odd
Odd

In [16]:
# Bitwise Operators: & | ~ ^
#      A => 65 => 64 + 1 => 0100 0001
#                        or 0010 0000 (32)
#                           ---------
# a => 97 => 64 + 32 + 1 => 0110 0001
char1 = 'A'
result = chr(ord(char1) | 32)
print (char1, result)

A a

### Characters and ASCII Codes

In [18]:
# ASCII (American Standard Code for Information Interchange) Codes
# ASCII Code is 8 bits code ranging from 0 to 255
# It can be divided into two categories:
# 1. Normal ASCII Codes (0 to 127) - Printable
# 2. Extended ASCII Codes (128 to 255) - Non-Printable
# A => 65, B => 66, Z => 90
# a => 97, b => 98, z => 122
# 0 => 48, 1 => 49, 9 => 57
# Space Bar/Blank => 32, Enter => 13, Esc => 27, Back Space => 9, Tab => 8

print (ord('A'), ord('a'), ord('Z'), ord('z')) # converts characters to ASCII Codes
print (chr(65), chr(97), chr(90), chr(122)) # converts ASCII Codes to characters

65 97 90 122
A a Z z

### Conditional Statements

In [26]:
# Take three numbers from the user as input and find the maximum of these numbers
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
num3 = int(input("Please enter the third integer: "))
if (num1 > num2):
    if (num1 > num3):
        print ("The first number is the maximum number...")
        print ("So the maximum number is", num1)
    else:
        print ("The third number is the maximum number...")
        print ("So the maximum number is", num3)
elif (num2 > num3):
    print ("The second number is the maximum number...")
    print ("So the maximum number is", num2)
else:
    print ("The third number is the maximum number...")
    print ("So the maximum number is", num3)
print ("End of the program...")

IndentationError: unexpected indent (<ipython-input-26-b8d28b6662e4>, line 8)

In [30]:
# Calculator Program
print ("M A I N  M E N U ...")
print ("~~~~~~~~~~~~~~~~~~~~")
print ("1 > A D D I T I O N  O P E R A T I O N ...")
print ("2 > S U B T R A C T I O N  O P E R A T I O N ...")
print ("3 > M U L T I P L I C A T I O N  O P E R A T I O N ...")
print ("4 > D I V I S I O N  O P E R A T I O N ...")
choice = int(input("Please enter youe choice integer (1 to 4): "))
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
if (choice == 1):
    print ("Performing the addition operation...")
    result = num1 + num2
    print (f"So {num1} + {num2} = {result}")
elif (choice == 2):
    print ("Performing the subtraction operation...")
    result = num1 - num2
    print (f"So {num1} - {num2} = {result}")
elif (choice == 3):
    print ("Performing the multiplication operation...")
    result = num1 * num2
    print (f"So {num1} * {num2} = {result}")
elif (choice == 4):
    print ("Performing the division operation...")
    if (num2 == 0):
        print ("Division by ZERO is Illegal !!!")
        print ("Division operation can not be carried out...")
    else:
        result = num1 / num2
        print (f"So {num1} / {num2} = {result}")
else:
    print ("Invalid choice number has been provided...")
    print ("No operation could get carried out...")
print ("End of the program...")

M A I N  M E N U ...
~~~~~~~~~~~~~~~~~~~~
1 > A D D I T I O N  O P E R A T I O N ...
2 > S U B T R A C T I O N  O P E R A T I O N ...
3 > M U L T I P L I C A T I O N  O P E R A T I O N ...
4 > D I V I S I O N  O P E R A T I O N ...

Please enter youe choice integer (1 to 4):  3
Please enter the first integer:  10
Please enter the second integer:  20

Performing the multiplication operation...
So 10 * 20 = 200
End of the program...

In [33]:
print ("Hello " * 3)
print ("Welcome " * 10)
print ("Ba" + "na" * 2)

Hello Hello Hello
Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome Welcome
Banana

### Dealing with 'print' statement

In [36]:
print ("Hello", "to all")
print ("Good afternoon")

print ("Hello", "to all", sep = " - ", end = ", ")
print ("Good afternoon")

Hello to all
Good afternoon
Hello - to all, Good afternoon

In [35]:
help (print)    # ... ellipsis operator

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

### Python Loops

In [43]:
count = 0
# for i in range(10):  # (0, 10, 1)
# for i in range(1, 10):  # (1, 10, 1)
# for i in range(-10, 10):  # (-10, 10, 1)
# for i in range(10, -10, -1):
for i in range(1, 10, 3):
    print (i, end = ", ")
    count += 1
print ("\ncount =", count)

1, 4, 7,
count = 3

In [46]:
# use of 'break' statement
for i in range(10):
    print (i, end = ", ")
    if (i == 9):
        print ("\nExecuting the BREAK block...")
        break # to check the help on break command use 'help("break")'
else:
    print ("\nExecuting the ELSE block...")
    print ("Had a smooth execution...")
print ("\nEnd of the program...")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9,
Executing the BREAK block...

End of the program...

In [48]:
# Check whether a number is a prime number or not
num1 = int(input("Please enter one integer: "))
for i in range(2, num1):
    if (num1 % i == 0):
        print (f"`is NOT a PRIME Number...")
        break
else:
    print (f"{num1} is a PRIME Number...")
print ("End of the program...")

Please enter one integer:  101

101 is a PRIME Number...
End of the program...

In [53]:
# use of 'continue' and 'pass' statements
for i in range(10):
    if (i == 4 or i == 6):
        print (f"\nExecuting the continue statement for i = {i}...")
        continue
    else:
        # pass      # statement place holder
        print (i, end = ", ")
else:
    print ("\nExecuting the ELSE block...")
    print ("Had a smooth execution...")
#print ("\nEnd of the program...")

0, 1, 2, 3,
Executing the continue statement for i = 4...
5,
Executing the continue statement for i = 6...
7, 8, 9,
Executing the ELSE block...
Had a smooth execution...

End of the program...

### While loop construct

In [56]:
count = 0
i = 1
while (i <= 10):
    print (f"Executing for i = {i}...")
    i += 1
    count += 1
else:
    print (f"Loop got executed for {count} number of times..")
print ("End of the loop...")

Executing for i = 1...
Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
Executing for i = 5...
Executing for i = 6...
Executing for i = 7...
Executing for i = 8...
Executing for i = 9...
Executing for i = 10...
Loop got executed for 10 number of times..
End of the loop...

In [ ]:
n = 6            i    .    *
               ---------------
.....*           1    5    1       (i, n)
....***          2    4    3  . => (n - i)
...*****         3    3    5
..*******        4    2    7  * => 2 * i - 1
.*********       5    1    9
***********      6    0   11
               ---------------
               Tracing Table

In [59]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the program...")

Please enter the number of layers:  6

.....*
....***
...*****
..*******
.*********
***********
End of the program...

In [ ]:
n = 11 (OOD Number of Layers)  m = (n + 1) // 2 = 6

                 i    .    *
               ---------------
***********      1    0   11       (i, n, m)
.*********       2    1    9  . => (i - 1)
..*******        3    2    7
...*****         4    3    5  * => (2 * (m - i) + 1)
....***          5    4    3
.....*         __6____5____1__
....***          7    4    3
...*****         8    3    5  . => (n - i)
..*******        9    2    7
.*********      10    1    9  * => (2 * (i - m) + 1)
***********     11    0   11
               ---------------

In [64]:
while (True):
    n = int(input("Please enter the ODD number of layers: "))
    if (n % 2 == 1): break
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i <= m): 
        b = (i - 1)
        s = (2 * (m - i) + 1)
    else:
        b = (n - i)
        s = (2 * (i - m) + 1)
    print ("." * b + "*" * s)
print ("End of the program...")

Please enter the ODD number of layers:  12
Please enter the ODD number of layers:  18
Please enter the ODD number of layers:  20
Please enter the ODD number of layers:  11

***********
.*********
..*******
...*****
....***
.....*
....***
...*****
..*******
.*********
***********
End of the program...

In [65]:
# example of nested loop
print ("Visit Doctor...") # 1 time
medicount = 0 # 1 time
for day in range(1, 6):
    print ("Good Morning...") # 5 times
    for medi in range(1, 4):
        print (f"Day Number -> {day} and Medicine Number -> {medi}...") # 15 times
        medicount += 1 # 15 times
    print ("Good Night...") # 5 times
    print ("----------------------------------------------------------------") # 5 times
print ("Medicount =", medicount) # 1 time
print ("Thanks to Doctor...") # 1 time

Visit Doctor...
Good Morning...
Day Number -> 1 and Medicine Number -> 1...
Day Number -> 1 and Medicine Number -> 2...
Day Number -> 1 and Medicine Number -> 3...
Good Night...
----------------------------------------------------------------
Good Morning...
Day Number -> 2 and Medicine Number -> 1...
Day Number -> 2 and Medicine Number -> 2...
Day Number -> 2 and Medicine Number -> 3...
Good Night...
----------------------------------------------------------------
Good Morning...
Day Number -> 3 and Medicine Number -> 1...
Day Number -> 3 and Medicine Number -> 2...
Day Number -> 3 and Medicine Number -> 3...
Good Night...
----------------------------------------------------------------
Good Morning...
Day Number -> 4 and Medicine Number -> 1...
Day Number -> 4 and Medicine Number -> 2...
Day Number -> 4 and Medicine Number -> 3...
Good Night...
----------------------------------------------------------------
Good Morning...
Day Number -> 5 and Medicine Number -> 1...
Day Number -> 5 and Medicine Number -> 2...
Day Number -> 5 and Medicine Number -> 3...
Good Night...
----------------------------------------------------------------
Medicount = 15
Thanks to Doctor...

### Expression evaluation

In [1]:
myexpr = input("Please enter your expression...") # input: 100 + (2 * 3 + 500) * 10
result = eval(myexpr)
print (f"Result against the expression {myexpr} is {result}...")
print ("End of the program...")

Please enter your expression... 100 + (2 * 3 + 500) * 10

Result against the expression 100 + (2 * 3 + 500) * 10 is 5160...
End of the program...

### Python Inbuilt Collections

In [2]:
# different inbuilt collections
list1 = [100, 2.45, True, "Food", 201]   # mutable
print (list1, len(list1), type(list1), id(list1))
tuple1 = (100, 2.45, True, "Food", 201)   # immutable, read only
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
dict1 = {'name':'Bidisha', 'location':'Noida', 'job':'Developer', 'company':'Accenture'} # mutable
print (dict1, len(dict1), type(dict1), id(dict1))
set1 = {"Delhi", 100, 2.45, True, "Food", 201, True, "Food", 201}   # mutable
print (set1, len(set1), type(set1), id(set1))
fset1 = frozenset(["Delhi", 100, 2.45, True, "Food", 201, True, "Food", 201]) # immutable, read only
print (fset1, len(fset1), type(fset1), id(fset1))

[100, 2.45, True, 'Food', 201] 5 <class 'list'> 2844043508608
(100, 2.45, True, 'Food', 201) 5 <class 'tuple'> 2844043511264
{'name': 'Bidisha', 'location': 'Noida', 'job': 'Developer', 'company': 'Accenture'} 4 <class 'dict'> 2844042461056
{True, 2.45, 100, 201, 'Food', 'Delhi'} 6 <class 'set'> 2844043588096
frozenset({True, 2.45, 100, 201, 'Food', 'Delhi'}) 6 <class 'frozenset'> 2844042963200

### Importing Modules: Math Module

In [3]:
# importing required modules
import math

In [4]:
print (math.sin(0), math.cos(0), math.tan(0), math.sinh(0), math.cosh(0), math.asin(0))
print (math.sqrt(100), 100 ** 0.5, math.sqrt(1000), 1000 ** 0.5)
print (math.pi, math.e, math.tau)
print (math.gcd(100, 5), math.gcd(100, 45), math.gcd(1000, 720),(1000 * 720)/math.gcd(1000,720))
print (math.log(100), math.log(100, math.e), math.log(1024, 2), math.log2(1024),
       math.log(1000, 10), math.log10(1000))

0.0 1.0 0.0 0.0 1.0 0.0
10.0 10.0 31.622776601683793 31.622776601683793
3.141592653589793 2.718281828459045 6.283185307179586
5 5 40 18000.0
4.605170185988092 4.605170185988092 10.0 10.0 2.9999999999999996 3.0

In [5]:
help(math.log)

Help on built-in function log in module math:

log(...)
    log(x, [base=math.e])
    Return the logarithm of x to the given base.

    If the base not specified, returns the natural logarithm (base e) of x.

In [6]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [7]:
print (math.factorial(5), math.factorial(6))
print (math.pow(100, 2), 100 ** 2, 100.0 ** 2)
print (math.floor(10.1), math.floor(10.9), math.ceil(10.1), math.ceil(10.9))

120 720
10000.0 10000 10000.0
10 10 11 11

In [9]:
print (math.dist((100, 30), (200, 40)))   # calculating Eucledian distance
print (math.sqrt((100 - 200) ** 2 + (30 - 40) ** 2))
help(math.pow)

100.4987562112089
100.4987562112089
Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).

In [10]:
import calendar
calendar.prcal(2023)

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

### String Processing

In [ ]:
index left to right ->  0   1   2   3   4   5   6   7   8   9
               mystr =  u   n   i   v   e   r   s   i   t   y
index right to left ->-10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [13]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[3], mystr[-7], mystr[7], mystr[-3], mystr[5], mystr[-5]) # indexing
print (mystr[1:8], mystr[-9:-2], mystr[1:-2], mystr[-9:8], mystr[::-1]) # slicing or sub-string retrieval
print (mystr[::2], mystr[1::2])

university 10 <class 'str'> 2844043238768
v v i i r r
niversi niversi niversi niversi ytisrevinu
uiest nvriy

In [16]:
mystr = "caLCuTTa unIVerSitY"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.upper())
print (mystr.lower())
print (mystr.title())
print (mystr.capitalize())
print (mystr.swapcase())
print (mystr.center(41))
print (mystr.upper().center(50))

caLCuTTa unIVerSitY 19 <class 'str'> 2844061539104
CALCUTTA UNIVERSITY
calcutta university
Calcutta University
Calcutta university
CAlcUttA UNivERsITy
           caLCuTTa unIVerSitY
               CALCUTTA UNIVERSITY

In [17]:
mystr = "caLCuTTa unIVerSitY"
print (mystr, len(mystr), type(mystr), id(mystr))
mystr = "caLCuTTa"
print (mystr, len(mystr), type(mystr), id(mystr))

caLCuTTa unIVerSitY 19 <class 'str'> 2844061536464
caLCuTTa 8 <class 'str'> 2844058440176

In [22]:
mystr = "charity begins at home"
print (mystr.find("ity"), mystr.find("i", 3), mystr.find("i", 5), mystr.find("ins", 11, 13))

print (mystr.index("ity"), mystr.index("i", 3), mystr.index("i", 5))
print (mystr.index("ins", 11, 13))
print ("End of the code...")

4 4 11 -1
4 4 11

ValueError: substring not found

In [23]:
try:
    mystr = "charity begins at home"
    print (mystr.index("ity"), mystr.index("i", 3), mystr.index("i", 5))
    print (mystr.index("ins", 11, 13))
except ValueError as ve:
    print ("Unsuccessful searching has taken place...")
print ("End of the program...")

4 4 11
Unsuccessful searching has taken place...
End of the program...

In [26]:
mystr = "    calcutta    university     "
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.strip(), len(mystr.strip()))
print (mystr.lstrip(), len(mystr.lstrip()))
print (mystr.rstrip(), len(mystr.rstrip()))
print (mystr.strip(" "), mystr.lstrip(" "), len(mystr.lstrip(" ")))

    calcutta    university      31 <class 'str'> 2844063413712
calcutta    university 22
calcutta    university      27
    calcutta    university 26
calcutta    university calcutta    university      27

In [28]:
mystr = "##@@calcutta#@#@university#@@@#"
print (mystr.strip("@#"), len(mystr.strip("@#")))
print (mystr.lstrip("@#"), len(mystr.lstrip("@#")))
print (mystr.rstrip("@#"), len(mystr.rstrip("@#")))

calcutta#@#@university 22
calcutta#@#@university#@@@# 27
##@@calcutta#@#@university 26

In [31]:
mystr = "charity begins at home"
print (mystr.startswith("cha"), mystr.startswith("beg"))
print (mystr.startswith("beg", 8), mystr.startswith("beg", 8, 20))
print (mystr.endswith("ome"), mystr.endswith("gins"), mystr.endswith("gins", 0, 14))

True False
True True
True False True

In [33]:
mystr = "madam"    # Reading character by character from a string
for ch in mystr:
    print (ch)
print ()
for i in range(len(mystr)):   # range(5) => [0, 1, 2, 3, 4]
    print (i, mystr[i])

m
a
d
a
m

0 m
1 a
2 d
3 a
4 m

In [36]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
var1 = mystr.split()
print (var1)
var1 = mystr.split(" ")
print (var1)
var1 = mystr.split("i")
print (var1)

charity begins at home 22 <class 'str'> 2844062208448
['charity', 'begins', 'at', 'home']
['charity', 'begins', 'at', 'home']
['char', 'ty beg', 'ns at home']

In [44]:
list_num = [int(x) for x in input("Enter your all numbers: ").split()]
# list_num = input("Enter your all numbers: ").split()
print (list_num, type(list_num))

Enter your all numbers:  22 44 33 55 44 77 88

[22, 44, 33, 55, 44, 77, 88] <class 'list'>

In [47]:
list1 = ['charity', 'begins', 'at', 'home']
print (list1, len(list1), type(list1), id(list1))
mystr = " ".join(list1)
print (mystr)
mystr = " - ".join(list1)
print (mystr)
mystr = ", ".join(list1)
print (mystr)

['charity', 'begins', 'at', 'home'] 4 <class 'list'> 2844060154368
charity begins at home
charity - begins - at - home
charity, begins, at, home

In [54]:
# mystr = "university"
# mystr = "1234"    # isdecimal() subset of isdigit() subset of isnumeric()
# mystr = "0xab"
# mystr = "university1234"
# mystr = "university@1234"
mystr = "四"  # go to Google Translator and translate digit 4 to Chinese digit symbol
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit(), mystr.isdecimal())
print ("   ".isspace())

True True True False False
True

In [57]:
mystr = "university"
print (mystr.count("i"), mystr.count("v"), mystr.count("I"))
print (mystr.replace("i", "x"))
print (mystr)
mystr = mystr.replace("i", "x")
print (mystr)

2 1 0
unxversxty
university
unxversxty

In [58]:
mystr = "mississippi"
print (mystr, type(mystr))
print (list(mystr))
print (tuple(mystr))
print (set(mystr))
print (frozenset(mystr))

mississippi <class 'str'>
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i')
{'m', 'i', 's', 'p'}
frozenset({'m', 'i', 's', 'p'})

In [59]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

### Class Assignment-1

In [ ]:
# Input: moHan dAs kaRAM chANd ganDhi
# Output: M D K C Gandhi

### Class Assignment-2

In [ ]:
# Input: moHan dAs kaRAM chANd ganDhi
# Output: M. D. K. C. Gandhi

### Class Assignment-3

In [ ]:
Find the sum of first n terms of the following series, where n will be the user input -
total =   1 + 2 + 3 + 4 + 10 + 5 + 6 + 7 + 8 + 26 + 9 + 10 + ... n terms
term no.  1   2   3   4   5    6   7   8   9   10  11   12     
if n = 4 then output = 10
if n = 5 then output = 20
if n = 10 then output = 72
if n = 11 then output = 81

Can you find the value of the 99th term of the series? Answer: ???

In [ ]:
n = 6              i   .  FS    SS
               -----------------------
.....1             1   5  1-1   --        . => (n - i)
....121            2   4  1-2   1-1       FS => 1 to i
...12321           3   3  1-3   2-1       SS => (i - 1) to 1 step -1
..1234321          4   2  1-4   3-1
.123454321         5   1  1-5   4-1
12345654321        6   0  1-6   5-1
               -----------------------

### User Defined Function (UDF)

In [3]:
def funct1():
    print ("Welcome " * 5)
    
print (type(funct1), id(funct1))
funct1()
funct1()
funct1()

<class 'function'> 1903632127168
Welcome Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome Welcome
Welcome Welcome Welcome Welcome Welcome

In [5]:
def funct2(msg, times):   # msg and times are called as positional parameters
    print (msg * times)
    
funct2 ("Hello ", 10)   # "Hello " and 10 are called as positional arguments
funct2 ("Welcome ", 5)

Hello Hello Hello Hello Hello Hello Hello Hello Hello Hello
Welcome Welcome Welcome Welcome Welcome

In [7]:
def funct3(msg, times):
    return msg * times

result = funct3("Hello ", 3)
print (result)
result = funct3("Hi !!!  ", 5)
print (result)

Hello Hello Hello
Hi !!!  Hi !!!  Hi !!!  Hi !!!  Hi !!!

In [16]:
# function with default arguments
def funct4(par1 = 111, par2 = 222, par3 = 333):
    print (f"par1 = {par1}, par2 = {par2} and par3 = {par3}...")
    
funct4(100, 200, 300)
funct4(100, 200)
funct4(100)
funct4()
funct4(par2 = 200, par1 = 100)
funct4(par3 = 300, par1 = 100)

par1 = 100, par2 = 200 and par3 = 300...
par1 = 100, par2 = 200 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 333...
par1 = 111, par2 = 222 and par3 = 333...
par1 = 100, par2 = 200 and par3 = 333...
par1 = 100, par2 = 222 and par3 = 300...

In [19]:
def funct5(num1, num2 = None):
    # if (num2 == None):
    if (num2 is None):
        return 2 * num1
    else:
        return num1 + num2
    
print (funct5(100, 400))
print (funct5(100))

500
200

In [22]:
# function returning multiple arguments
def funct6(num1, num2): 
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tt, dd, pp, qq = funct6(100, 40)
print (f"Total = {tt}, Difference = {dd}, Product = {pp} and Quotient = {qq}...")

result = funct6(100, 40)
print (result, type(result), len(result))
print (f"Total = {result[0]}, Difference = {result[1]}, Product = {result[2]} and Quotient = {result[3]}...")

Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...
(140, 60, 4000, 2.5) <class 'tuple'> 4
Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...

In [23]:
# function with variable number of arguments
def funct7(*arg):    # *arg means forcefully defining arg as a tuple type collection object
    print (arg, len(arg), type(arg), id(arg))
    
funct7("Amitava", "Developer", 65000)
funct7("Amitava", "Developer", 65000, "Pune")
funct7("Amitava", "Developer", 65000, "Pune", "Masters")

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 1903650073728
('Amitava', 'Developer', 65000, 'Pune') 4 <class 'tuple'> 1903644356912
('Amitava', 'Developer', 65000, 'Pune', 'Masters') 5 <class 'tuple'> 1903650144320

In [24]:
# function with variable number of arguments
def funct8(**kwarg):     # **kwarg means forcefully defining kwarg as a dictionary type key-word argument
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct8(name = "Amitava", job = "Developer", salary = 65000, location = "Pune")
funct8(name = "Amitava", job = "Developer", salary = 65000, location = "Pune", qualification = "ME")

{'name': 'Amitava', 'job': 'Developer', 'salary': 65000, 'location': 'Pune'} 4 <class 'dict'> 1903657825344
{'name': 'Amitava', 'job': 'Developer', 'salary': 65000, 'location': 'Pune', 'qualification': 'ME'} 5 <class 'dict'> 1903649211392

In [26]:
# function with variable number of arguments
def funct9(*arg, **kwarg):
    print (arg, len(arg), type(arg), id(arg))
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))
    
funct9("Amitava", "Developer", 65000, location = "Pune", qualification = "Masters", hobby='drawing')
print ()
funct9("Amitava", "Developer", 65000)
print ()
funct9(location = "Pune", qualification = "Masters", hobby = 'drawing')

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 1903648372800
{'location': 'Pune', 'qualification': 'Masters', 'hobby': 'drawing'} 3 <class 'dict'> 1903650214720

('Amitava', 'Developer', 65000) 3 <class 'tuple'> 1903649708032
{} 0 <class 'dict'> 1903650215168

() 0 <class 'tuple'> 1903556755520
{'location': 'Pune', 'qualification': 'Masters', 'hobby': 'drawing'} 3 <class 'dict'> 1903650212352

In [31]:
# non-recursive factorial calculating function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
def factorial_nr(num):
    if (num == 0 or num == 1): return 1
    fact = num
    for i in range(2, num):
        print (f"Executing for i = {i}...")
        fact *= i
    return fact

n = 5
result = factorial_nr(n)
print (f"So factorial of {n} is {result}...")

Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
So factorial of 5 is 120...

In [32]:
# recursive factorial calculating function
# 5! = 1 * 2 * 3 * 4 * 5 = 5 * 4 * 3 * 2 * 1 = 120
def factorial_r(num):
    if (num == 0 or num == 1): return 1  # base case: for certain input values outputs are pre-known, and where recursion terminates
    return num * factorial_r(num - 1)    # reursive case: the function will call itself

n = 5
result = factorial_r(n)
print (f"So factorial of {n} is {result}...")

So factorial of 5 is 120...

In [ ]:
5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!
                     1
                 2
             6
         24
     120

#### Lambda Function
> In Python programming, a lambda function is a small anonymous function that can have any number of arguments, but can only have one expression. The expression is evaluated and returned as the function result. Lambda functions are commonly used in combination with higher-order functions such as map(), filter(), and reduce().

Some of the properties of lambda functions in Python programming include:
* **Anonymous:** Lambda functions are anonymous, meaning they do not have a name like regular functions. They are defined using the keyword "lambda" followed by the arguments and the expression.
* **Single Expression:** A lambda function can only contain a single expression that is evaluated and returned as the function result. This means that it cannot contain multiple statements or control flow structures.
* **Concise:** Lambda functions are concise and can be defined in a single line of code. This makes them useful for defining simple functions on-the-fly.
* **Immutable:** Lambda functions are immutable, meaning they cannot be modified once defined. This means that you cannot change the behavior of a lambda function after it has been defined.
* **Higher-order Functions:** Lambda functions are often used in combination with higher-order functions such as map(), filter(), and reduce(). These functions take other functions as arguments and return new functions as results.
* **Memory-efficient:** Lambda functions are memory-efficient since they are defined on-the-fly and do not require a separate function definition. This can be useful when working with large data sets or when memory usage is a concern.

In [33]:
# lambda function
my_square = lambda num: num * num

print (my_square(5), my_square, type(my_square), id(my_square))
result = my_square(6)
print (result)

25 <function <lambda> at 0x000001BB3A4F8F70> <class 'function'> 1903648804720
36

In [34]:
my_addition = lambda num1, num2: num1 + num2

print (my_addition(500, 400), my_addition, type(my_addition), id(my_addition))
result = my_addition(300, 500)
print (result)

900 <function <lambda> at 0x000001BB3A4F8E50> <class 'function'> 1903648804432
800

In [35]:
# recursive factorial calculation with lambda function
my_factorial = lambda num1: 1 if (num1 == 0 or num1 == 1) else num1 * my_factorial(num1 - 1)
print (my_factorial(5), my_factorial, type(my_factorial), id(my_factorial))
result = my_factorial(6)
print (result)

120 <function <lambda> at 0x000001BB3A62AC10> <class 'function'> 1903650057232
720

In [36]:
def funct10(num):
    myproduct = lambda n: n * num
    return myproduct

var10 = funct10(10)
var20 = funct10(20)
print (var10(3))
print (var20(4))
print (funct10(30)(5))

30
80
150

In [38]:
# using the 'global' keyword
def funct11():
    i = 100
    print (i, id(i))
    
i = 500
print (i, id(i))
funct11()
print (i, id(i))

500 1903658322384
100 140706672554896
500 1903658322384

In [40]:
# using the 'global' keyword
def funct11():
    global i
    i = 100
    print (i, id(i))
    
i = 500
print (i, id(i))
funct11()
print (i, id(i))

500 1903658322608
100 140706672554896
100 140706672554896