## Python map() function

<b>The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.</b><br>
<p><i><b>Syntax:</b></i> map(function, iterables)<br>
<b>function:</b> Required. The function to execute for each item<br>
<b>iterable:</b> Required. A sequence, collection or an iterator object. You can send as many iterables as you like, just make sure the function has one parameter for each iterable.</p>

In [2]:
def myfunc(mytext):
    return len(mytext)
result = map(myfunc, ['Sunday', 'Tuesday', 'Thursday'])
print (result)
list1 = list(map(myfunc, ('Sunday', 'Tuesday', 'Thursday')))
print (list1)

<map object at 0x00000238DE80C820>
[6, 7, 8]

In [6]:
def myfunc(a, b):
    return a + b
list1 = list(map(myfunc, ('aa', 'bb', 'cc'), ('AA', 'BB', 'CC', 'DD')))
print (list1)
list1 = list(map(myfunc, (11, 22, 33), (100, 200, 300)))
print (list1)

['aaAA', 'bbBB', 'ccCC']
[111, 222, 333]

## Python filter() function

<b>The filter() function returns an iterator were the items are filtered through a function to test if the item is accepted or not.</b><br>
<p><i><b>Syntax:</b></i> filter(function, iterable)<br>
<b>function:</b> A function to be run for each item in the iterable<br>
<b>iterable:</b> The iterable to be filtered</p>

In [8]:
ages = [5, 12, 17, 18, 24, 32]
def myFunc(x):
    if x < 18: return False
    else: return True
    
print (filter(myFunc, ages))
adults = list(filter(myFunc, ages))
print (adults)

<filter object at 0x00000238DE80F310>
[18, 24, 32]

## Python reduce() function

<b>The reduce() function applies a function of two arguments cumulatively to the elements of an iterable, optionally starting with an initial argument.</b><br>
<p><i><b>Syntax:</b></i> reduce(func, iterable[, initial])<br>
<i>Where func is the function on which each element in the iterable gets cumulatively applied to, and initial is the optional value that gets placed before the elements of the iterable in the calculation, and serves as a default when the iterable is empty</i></p>

In [11]:
from functools import reduce
numbers = [3, 4, 6, 9, 34, 12]
def custom_sum(first, second):
    print (first, second)
    return first + second

result = reduce(custom_sum, numbers)
print(result)
print ()
result = reduce(custom_sum, numbers, 1000)
print(result)

3 4
7 6
13 9
22 34
56 12
68

1000 3
1003 4
1007 6
1013 9
1022 34
1056 12
1068

In [13]:
from functools import reduce
numbers = [3, 4, 6, 9, 34, 12]
def custom_sum(first, second):
    return first + second

# uses 10 as the first argument to custom_sum
result = reduce(custom_sum, numbers, 1000)
print(result)

1068

## Python zip() function

In [20]:
fruit = ("Apple", "Banana", "Orange", 'Pineapple')
price = [80, 40, 70]

print (zip(fruit, price))
print (list(zip(fruit, price)))
print (tuple(zip(fruit, price)))
print (dict(zip(fruit, price)))

<zip object at 0x00000238DDD97300>
[('Apple', 80), ('Banana', 40), ('Orange', 70)]
(('Apple', 80), ('Banana', 40), ('Orange', 70))
{'Apple': 80, 'Banana': 40, 'Orange': 70}

## Cartesian product of list elements

In [22]:
from itertools import product
list1 = [1, 2, 3]
list2 = [5, 6, 7]
print (product(list1, list2))
print (list(product(list1, list2)))
print (tuple(product(list1, list2)))

<itertools.product object at 0x00000238DF9CBF40>
[(1, 5), (1, 6), (1, 7), (2, 5), (2, 6), (2, 7), (3, 5), (3, 6), (3, 7)]
((1, 5), (1, 6), (1, 7), (2, 5), (2, 6), (2, 7), (3, 5), (3, 6), (3, 7))

In [24]:
from itertools import product
list1 = [1, 2, 3]
list2 = ['Mon', 'Tue', 'Wed', 'Thu']
print (product(list1, list2))
print (list(product(list1, list2)))
print (tuple(product(list1, list2)))
print (len(tuple(product(list1, list2))))

<itertools.product object at 0x00000238DF8E6980>
[(1, 'Mon'), (1, 'Tue'), (1, 'Wed'), (1, 'Thu'), (2, 'Mon'), (2, 'Tue'), (2, 'Wed'), (2, 'Thu'), (3, 'Mon'), (3, 'Tue'), (3, 'Wed'), (3, 'Thu')]
((1, 'Mon'), (1, 'Tue'), (1, 'Wed'), (1, 'Thu'), (2, 'Mon'), (2, 'Tue'), (2, 'Wed'), (2, 'Thu'), (3, 'Mon'), (3, 'Tue'), (3, 'Wed'), (3, 'Thu'))
12

## Sorting of a matrix

In [29]:
list1 = [10, 2, -3, 40]
list2 = [14, -22, 8, -10]
list3 = [6, -7, 10, 1]
final_list = []
for i in range(len(list1)):
    final_list.append([list1[i], list2[i], list3[i]])
print (final_list, final_list[-1])
final_list1 = sorted(final_list, key = lambda v: v[-1])
print (final_list1)
final_list.sort(key = lambda arr: arr[-1])
print (final_list)
final_list.sort(key = lambda arr: arr[-2])
print (final_list)

[[10, 14, 6], [2, -22, -7], [-3, 8, 10], [40, -10, 1]] [40, -10, 1]
[[2, -22, -7], [40, -10, 1], [10, 14, 6], [-3, 8, 10]]
[[2, -22, -7], [40, -10, 1], [10, 14, 6], [-3, 8, 10]]
[[2, -22, -7], [40, -10, 1], [-3, 8, 10], [10, 14, 6]]

## Multiple integers as user input

In [37]:
my_input = list(map(int, input("Please enter your series of numbers: ").split()))
print (my_input, type(my_input), type(my_input[0]))

Please enter your series of numbers:  100 300 400 200 600 900 800

[100, 300, 400, 200, 600, 900, 800] <class 'list'> <class 'int'>

In [38]:
my_input = input("Enter numbers:").split(" ")
print (my_input)
my_list1 = list(map(int, my_input))
print (my_list1)

Enter numbers: 100 300 400 200 600 900 800

['100', '300', '400', '200', '600', '900', '800']
[100, 300, 400, 200, 600, 900, 800]

## List Comprehension

<b><i>list comprehension is a complete substitute to for loops, lambda function as well as the functions map(), filter() and reduce().</i></b>

#### How to replace for loop in creation of a list

In [42]:
list1 = []
for x in range(10):
    list1.append(x ** 2)
print (list1)

# list comprehension
list1 = [x ** 2 for x in range(10)]
print (list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [43]:
list1 = []
for x in range(10):
    list1.append(2 ** x)
print (list1)

# list comprehension
list1 = [2 ** x for x in range(10)]
print (list1)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]

In [46]:
list1 = [1, 2, 3, 4, 5, 6]
list2 = []
for x in list1:
    if (x % 2 == 0):
        list2.append(x)
print (list2)

# list comprehension with if condition
list2 = [x for x in list1 if x % 2 == 0]
print (list2)

[2, 4, 6]
[2, 4, 6]

In [49]:
list1 = [11, 12, 13, 14, 15, 16, 17, 18]
list2 = []
for x in list1:
    if x % 2 == 0:
        if x % 3 == 0:
            list2.append(x)
print (list2)

# list comprehension with multiple if conditions
list2 = [x for x in list1 if x % 2 == 0 if x % 3 == 0]
print (list2)
list2 = [x for x in list1 if x % 2 == 0 and x % 3 == 0]
print (list2)

[12, 18]
[12, 18]
[12, 18]

In [50]:
list1 = [1, 2, 3, 4, 5, 6]
list2 = []
for x in list1:
    if x >= 4:
        list2.append(x + 5)
    else:
        list2.append(x + 1)
print (list2)

# list comprehension with if-else condition
list2 = [x + 5 if x >= 4 else x + 1 for x in list1]
print (list2)

[2, 3, 4, 9, 10, 11]
[2, 3, 4, 9, 10, 11]

In [52]:
list1 = [[1, 2, 3], [4, 5, 6], [7, 8]]
list2 = []
for temp_list in list1:
    for x in temp_list:
        list2.append(x)
print (list2)

# nested list comprehensions, flatten a list
list2 = [element for temp_list in list1 for element in temp_list]
print (list2)

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

In [54]:
# transpose of a matrix
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list1 = []
for i in range(3):
    temp_list = []
    for j in range(3):
        temp_list.append(matrix[j][i])
    list1.append(temp_list)
print (list1)

# nested list comprehensions, transpose of a matrix
list1 = [[row[i] for row in matrix] for i in range(3)]
print (list1)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [55]:
list1 = []
for x in range(3):
    temp_list = []
    for y in range(4):
        temp_list.append(0)
    list1.append(temp_list)
print (list1)

# nested list comprehensions, creation of a matrix
list1 = [[0 for col in range(4)] for row in range(3)]
print (list1)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [56]:
list1 = []
for x in range(4):
    temp_list = []
    for y in range(x):
        temp_list.append(0)
    list1.append(temp_list)
print (list1)

# nested list comprehensions, creation of a matrix
list1 = [[0 for col in range(row)] for row in range(4)]
print (list1)

[[], [0], [0, 0], [0, 0, 0]]
[[], [0], [0, 0], [0, 0, 0]]

#### How to replace map() in combination with lambda functions

In [57]:
list1 = [10, 20, 30, 40, 50]
list2 = map(lambda x: 2 * x, list1)
print(list(list2))

# list comprehension
list2 = [2 * x for x in list1]
print (list2)

[20, 40, 60, 80, 100]
[20, 40, 60, 80, 100]

#### How to replace filter() in combination with lambda functions

In [58]:
# using filter function
list1 = [11, 22, 33, 44, 55]
oddnum = list(filter(lambda x: x % 2, list1))
print (oddnum)

# list comprehension with if condition
oddnum = [x for x in list1 if x % 2 != 0]
print (oddnum)

[11, 33, 55]
[11, 33, 55]

#### How to replace reduce() in combination with lambda functions

In [59]:
# using reduce function
from functools import reduce
list1 = [11, 22, 33, 44, 55, 66]
list2 = reduce(lambda x, y: x + y, list1)
print(list2)

# list comprehension
list2 = sum([x for x in list1])
print(list2)

231
231